#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_1 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_3 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_5 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_7 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_2 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_4 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_6 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_8 {
  position: relative;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}