#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_22 > svg {
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_22 {
  position: absolute;
  width: 25px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_22 > img, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_22 > svg {
  height: 18px;
  width: 25px;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-category-1 {
  position: absolute;
  width: 170px;
  height: 120px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 {
  position: absolute;
  width: 82px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 {
  position: absolute;
  width: 97px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Group_7 {
  position: absolute;
  width: 170px;
  height: 20px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 {
  position: absolute;
  width: 88px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_11 > svg {
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_11 {
  position: absolute;
  width: 14px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_11 > img, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Image_11 > svg {
  height: 8px;
  width: 14px;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles {
  position: absolute;
  width: 907px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles > table {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Header_1 {
  background-color: transparent;
  background-image: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_1 {
  width: 224px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_3 {
  width: 224px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_5 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_5 {
  width: 224px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_7 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Row_cell_7 {
  width: 233px;
  height: 67px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 > .clipping, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Current_row_1 {
  background-color: transparent;
  background-image: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_2 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_2 {
  width: 224px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_1 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_4 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_4 {
  width: 224px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 {
  position: absolute;
  width: 110px;
  height: 20px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 > .paddingLayer {
  height: 20px;
  width: 110px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_2 .icon {
  top: 2px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_6 {
  width: 224px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_3 > input {
  left: 0px;
  top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Input_3 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_8 .verticalalign {
  vertical-align: top;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Row_cell_8 {
  width: 233px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Image_1 {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Image_1 > img, #s-2fc8bbc0-ae15-403f-9530-77b51d372c48 #s-modeles .s-Image_1 > svg {
  height: 80px;
  width: 80px;
  box-shadow: none;
}
#s-2fc8bbc0-ae15-403f-9530-77b51d372c48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}