#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a0717305-8e63-490e-b2a0-8696fe59d248 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}