#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eeaea045-a3ae-4b1d-8adc-38bf58f58c26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}