#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 92px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-arrow {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ef73425b-446c-41df-81d3-9852528f8328 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}