#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-arrow {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef73425b-446c-41df-81d3-9852528f8328 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}